{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
Expires: Thu, 01 Dec 1994 16:00:00 GMT
%a, %d %b %Y %T %Z
{% endcomment %}

{% if page.url contains "WhereIsTrump-Countdown" %}
    {% assign secs_now = 'now' | date: "%s" %}
    {% assign tz_now = secs_now | date: "%:z" %}
    {% assign tz_hhmm = tz_now | split: ":" %}
    {% assign hr_offset = tz_hhmm[0] | times: 3600 %}
    {% assign mn_offset = tz_hhmm[1] | times: 1 %}
    {% assign tz_offset = hr_offset | plus: mn_offset %}
    {% assign secs_gmt = secs_now | plus: tz_offset | plus: 60 %}
    {% assign expire = secs_gmt | date: "%a, %d %b %Y %H:%M:%S GMT" %}

    <meta http-equiv="Surrogate-Control" content="no-store, no-store-remote, no-transform, proxy-revalidate, max-age=60, s-maxage=60" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, no-transform, proxy-revalidate, max-age=60, s-maxage=60" />
    <meta http-equiv="Expires" content="{{ expire }}" />

    {% comment %}
    <meta http-equiv="CDN-Cache-Control" content="max-age=60">
    {% endcomment %}

{% endif %}

<link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin />
