| [Trump Golf (Trump Crime Family Businesses)](https://www.trump.com/) |
|---|
| **Florida, West Palm Beach** |
| [The Mar-a-Lago Club](https://www.maralagoclub.com/) <br /> 1100 South Ocean Boulevard, <br /> Palm Beach, Florida 33480 <br /> [+1 (561) 832-2600](tel:+15618322600) |
| **Florida, West Palm Beach** |
| **[Trump International Golf Club](https://www.trumpinternationalpalmbeaches.com/)** <br /> 3505 Summit Blvd <br /> West Palm Beach FL 33406 <br /> [+1 (561) 682-0700](tel:+15616820700) |
| **Florida, Miami** |
| **[Trump National Doral Golf Club](https://www.trumpgolfdoral.com/)** <br /> 4400 N.W. 87th Ave <br /> Miami, FL 33178 <br /> [+1 (305) 592-2000](tel:+13055922000) |
| **Florida, Jupiter** |
| **[Trump National Jupiter Golf Club](https://www.trumpnationaljupiter.com/)** <br /> 115 Eagle Tree Terrace <br /> Jupiter FL 33477 <br /> [+1 (561) 691-8700](tel:+15616918700) |
| **Virginia, Potomac Falls** |
| **[Trump National Golf Club Washington, D.C.](https://www.trumpnationaldc.com/)** <br /> 20391 Lowes Island Blvd <br /> Potomac Falls, VA 20165 <br /> [+1 (703) 444-4801](tel:+17034444801) |
| **New Jersey, Bedminster** |
| **[Trump National Golf Club Bedminster](https://www.trumpnationalbedminster.com/)** <br /> 900 Lamington Road <br /> Bedminster, NJ 07921 <br /> [+1 (908) 470-4400](tel:+19084704400) |
| **New Jersey, Colts Neck** |
| **[Trump National Golf Club Colts Neck](https://www.trumpcoltsneck.com/)** <br /> One Trump National Blvd <br /> Colts Neck, NJ 07722 <br /> [+1 (561) 973-1550](tel:+15619731550)
| **New Jersey, Pine Hill** |
| **[Trump National Golf Club Philadelphia](https://www.trumpnationalphiladelphia.com/)** <br /> 500 West Branch Ave. <br /> Pine Hill, NJ 08021 <br /> [+1 (856) 435-3100](tel:+18564353100) |
| **New York, Hopewell Junction** |
| **[Trump National Golf Club Hudson Valley](https://www.trumpnationalhudsonvalley.com/)** <br /> 178 Stormville Rd <br /> Hopewell Junction, NY 12533 <br /> [+1 (845) 223-1600](tel:+18452231600) |
| **New York, Briarcliff Manor** |
| **[Trump National Golf Club Westchester](https://www.trumpnationalwestchester.com/)** <br /> 100 Shadow Tree Lane <br /> Briarcliff Manor, NY 10510 <br /> [+1 (914) 944-0900](tel:+19149440900) |
| **California, Los Angeles** |
| **[Trump National Golf Club Los Angeles](https://www.trumpnationallosangeles.com/)** <br /> One Trump National Drive <br /> Rancho Palos Verdes, CA 90275 <br /> [+1 (310) 265-5000](tel:+13102655000) |
| **North Carolina, Mooresville** |
| **[Trump National Golf Club Charlotte](https://www.trumpnationalcharlotte.com/)** <br /> 120 Trump Square <br /> Mooresville, NC 28117 <br /> [+1 (704) 799-7300](tel:+17047997300) |
| **United Arab Emirates, Dubai** |
| **[Trump International Golf Club Dubai](https://www.trumpgolfdubai.com/)** <br /> DAMAC Hills <br /> Al Hebiah Third District Dubai <br /> [+971 (0) 4 245 3939](tel:+971042453939) |
| **Ireland, Clare** |
| **[Trump International Golf Links & Hotel Ireland, Doonbeg](https://www.trumpgolfireland.com/)** <br /> DOONBEG CO. <br /> CLARE, IRELAND <br /> Phone: [+353 65 905 5600](tel:+353659055600) |
| **Scotland, Aberdeenshire** |
| **[Trump MacLeod House & Lodge Scotland](https://www.trumphotels.com/macleod-house)** <br /> Menie Estate Balmedie <br /> Aberdeenshire, Scotland AB23 8YE <br /> Phone: [+44 1358 743300](tel:+441358743300) <br /> Reserve: [+44 1358 743300](tel:+441358743300) |
| **Scotland, Ayrshire** |
| **[Trump Turnberry](https://www.turnberry.co.uk/)** <br /> Maidens Road KA26 9LT Turnberry <br /> Ayrshire Scotland <br /> [+44.1655.331.000](tel:+44165533100)<br /> [+44 01655 334115](tel:+4401655334115) |
| **[Trump International Scotland](https://www.trumpgolfscotland.com/)**<br />Menie Estate Balmedie<br />Aberdeenshire AB23 8YE <br />T [+44 (0)1358 743 300](tel:+4401358743300) |
