### List of some of the major stock markets around the world and their locations:

| Stock Exchange | Location |
|---------------|----------|
| **[New York Stock Exchange (NYSE)](https://www.nyse.com/index)** | New York City, USA |
| **[Nasdaq Stock Market](https://www.nasdaq.com/)** | New York City, USA |
| **[東京証券取引 (TSE)](https://www.jpx.co.jp/)** | Tokyo, Japan |
| **[上海证券交易所 (SSE)](https://sse.com.cn/)** | Shanghai, China |
| **[香港聯合交易所 (HKEX)](https://www.hkex.com.hk/)** | Hong Kong, China |
| **[London Stock Exchange (LSE)](https://www.londonstockexchange.com/)** | London, United Kingdom |
| **[Euronext](https://www.euronext.com/)** | Amsterdam, Brussels, Dublin, Lisbon, Milan, Oslo, Paris |
| **[Toronto Stock Exchange (TSX)](https://www.tmx.com/)** | Toronto, Canada |
| **[नेशनल स्टॉक एक्सचेंज (NSE)](https://www.nseindia.com/)** | Mumbai, India |
| **[बंबई स्टॉक एक्सचेंज (BSE)](https://www.bseindia.com/)** | Mumbai, India |
| **[深圳证券交易所 (SZSE)](https://www.szse.cn/)** | Shenzhen, China |
| **[السوق المالية السعودية (تداول)](https://www.saudiexchange.sa/)** | Riyadh, Saudi Arabia |
| **[Australian Securities Exchange (ASX)](https://www.asx.com.au/)** | Sydney, Australia |
| **[Deutsche Börse (Frankfurt Stock Exchange)](https://www.deutsche-boerse.com/dbg-en)** | Frankfurt, Germany |
| **[SIX Swiss Exchange](https://www.six-group.com/)** | Zurich, Switzerland |
| **[한국거래소 (KRX)](https://www.krx.co.kr/)** | Seoul, South Korea |
| **[臺灣證券交易所 (TWSE)](https://www.twse.com.tw/)** | Taipei, Taiwan |
| **[Johannesburg Stock Exchange (JSE)](https://www.jse.co.za/)** | Johannesburg, South Africa |
| **[首页](https://www.bursamalaysia.com/)** | Kuala Lumpur, Malaysia |
| **[ตลาดหลักทรัพย์แห่งประเทศไทย (SET)](https://www.set.or.th/)** | Bangkok, Thailand |
| **[新加坡交易所 (SGX)](https://www.sgx.com/)** | Singapore |
| **[Bolsa Mexicana de Valores (BMV)](https://www.bmv.com.mx/)** | Mexico City, Mexico |
| **[Московская Биржа (MOEX)](https://www.moex.com/)** | Moscow, Russia |
| **[A Bolsa do Brasil (B3)](https://www.b3.com.br/)** | São Paulo, Brazil |